body {
  --grText: #61892f;
  --grBg: #86c232;
  --black: #222629;
  --darkGray: #474b4f;
  --lightGray: #6b6e70;
}

#screen {
  height: 5rem;
  background-color: var(--darkGray);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  font-size: 30px;
}

#keyboardContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.key {
  border: 0.1px solid var(--grText);
  color: var(--black);
  height: 5rem;
  width: 15vw;
  font-weight: 900;
  font-size: large;
}

.operation {
  background-color: var(--grBg);
  color: white;
  font-size: x-large;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 30vw;
}

@media screen and (min-width: 1000px) {
  .key {
    width: 10rem;
  }

  .zero {
    width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .key {
    width: 20vw;
  }

  .zero {
    width: 40vw;
  }
}
