
.Home {
  color: white;
  padding: 70px 0;
  margin: calc(1vw + 0.5rem) 10vw;
  text-align: center;
}

.Home > h1 {
  font-size: xx-large;
  display: flex;
  margin: 1rem;
}

.text {
  margin: 1rem;
  font-size: x-large;
  display: flex;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .Home {
    margin: 0.5rem 5vw;
    padding: 1rem 0;
  }

  .text {
    font-size: larger;
  }
}
